$main-red : #CD3200;


*{
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* From Uiverse.io by cssbuttons-io */ 
button {
    font-family: "Roboto", sans-serif;
    padding: 1.4em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #fff;
    background-color: $main-red;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover{
    transform: translateY(-7px);
}
button:active{
    transform: translateY(-1px);
}



nav{
    width: 120%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0.682);
    padding-top: 1%;
    padding-bottom:1%;

    .navbar-logo {
        margin: 0 !important;
    }


    img {
        width: 20%;
        padding-left: 15%;
    }

    .nav-links{
        display:grid;
        text-align: right;
        width: 105%;
    
        ul {
            padding-inline-start: 0%;
            li{
                list-style: none;
                display: inline-block;
                padding: 8px 12px;
                position: relative;
            }
            li::after{
                content: '';
                width: 0%;
                height: 2px;
                background: $main-red;
                display:block;
                margin: auto;
                transition: 0.5s;
            }
            a {
                color: black;
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
}

.home-section {
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;

    .home{
        display: flex;
        overflow: hidden;
        grid-template-columns: fit-content(300px) fit-content(1000px);
        justify-content: center;
    }

    .home-logo {
        width: 25vw;

    }

    .home-text{
        display: grid;
    }

    .home-title{
        display: grid;
        color: #000;
        font-family: "EB Garamond";
        font-size: 6.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -6.8px;
    }

    #home-subtitle-1{
        color: #000;
        font-family: "Roboto", sans-serif;
        font-size: 57px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px; /* 140.351% */
    }

    #home-subtitle-2{
        color: #000;
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.4px;
        padding-bottom: 30px;
    }
}

.about-section {
    padding-top: 10%;
    padding-bottom: 15%;

    img {
        width: 50%;
        margin: 0;
    }

    .about {
        display: flex;
        width: 100%;

        .about-text{
            display: flex;
            width: 65%;
            display: grid;
            justify-content: center;
        }
    
        .about-header{
            color: $main-red;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 20px;
        }
    
        #about-subtitle{
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    
        #about-desc{
            padding-top: 5%;
            color: #000;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
        }

        .about-li{
            width: 60%;
            
            .about-list{
                list-style-type: none;
                padding-left: 0;
                padding-top: 10%;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.2px;
                
            }
            li.detail {
                padding-left: 10%;
                font-family: "Red Hat Display", sans-serif;
                font-size: 20px !important;
                font-style: normal;
                font-weight: 700 !important;
                line-height: normal;
                letter-spacing: 1.1px;
                position: relative;
                padding-bottom: 10%;
        
                &:before{
                    content: "";
                    display: inline-block;
                    width: 30px; /* Adjust size */
                    height: 30px; /* Adjust size */
                    background-image: url('assets/yellow-check.svg'); /* Path to your SVG file */
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    padding-bottom: 10%;
                }
            }
        }
    }

}

.services-section{
    padding-top: 10%;
    padding-bottom: 10%;

    .services{
        display: grid;
        justify-content: center;
    
        .services-header{
            color: $main-red;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 20px;
        }
        .services-subtitle{
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 50px;
        }
        .services-cards{
            padding-bottom: 50px;
        }
    }
}

.gallery-section{
    padding-top: 10%;
    padding-bottom: 10%;

    .gallery{
        display: grid;
        grid-template-rows: fit-content(300px) fit-content(1000px);
        justify-content: center;
        margin: auto;
        justify-content: center;
        background-image: url("/assets/slanted-rectangle.svg");
        background-size: cover;
        width: 100vw; /* Full viewport width */
        height: 200vh; /* Full viewport height */
    
        .gallery-header{
            color: $main-red;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 20px;
        }
        .gallery-subtitle{
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 50px;
        }
        .gallery-images{
            padding-bottom: 50px;

            img{
                margin: 20px;
                border-radius: 20px;
            }
            
        }
    }
}

.testimonials-section{
    padding-top: 10%;
    padding-bottom: 20%;

    .testimonials{
        justify-content: center;
        text-align: center;
        display: grid;
    
        .testimonials-header{
            color: $main-red;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 20px;
        }
        .testimonials-subtitle{
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .review-cards{
            padding-top: 5%;
        }
    }
}


.contact{
    background-color: $main-red;
    display: flex;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 20%;
    grid-template-columns: fit-content(300px) fit-content(1000px);

    .contact-info{
        grid-template-rows: fit-content(300px) fit-content(1000px);
    }

    .contact-header{
        color: #FFF;
        font-family: "Roboto", sans-serif;
        font-size: 70px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 3.5px;
        text-align: right;
        padding-bottom: 6%;
    }

    .contact-text{
        color: white;
        ul{
            list-style-type: none;
            padding-left: 0;
        }
        li{
            padding-left: 40px;
            font-family: "Roboto", sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.1px;
        }
        li.contact-email {
            font-family: "Roboto", sans-serif;
            font-size: 18px !important;
            font-style: normal;
            font-weight: 700 !important;
            line-height: normal;
            letter-spacing: 1.1px;
            position: relative;
    
            &:before{
                content: "";
                display: inline-block;
                width: 30px; /* Adjust size */
                height: 30px; /* Adjust size */
                background-image: url('/assets/white-email-icon.svg'); /* Path to your SVG file */
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        li.contact-location{
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.1px;
            position: relative;
    
            &:before{
                content: "";
                display: inline-block;
                width: 30px; /* Adjust size */
                height: 30px; /* Adjust size */
                background-image: url("/assets/location-icon.svg"); /* Path to your SVG file */
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        li.contact-phone{
            position: relative;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.1px;
    
            &:before{
                content: "";
                display: inline-block;
                width: 30px; /* Adjust size */
                height: 30px; /* Adjust size */
                background-image: url('/assets/white-phone-icon.svg'); /* Path to your SVG file */
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        li.list-detail{
            padding-bottom: 6%;
        }
    }

    #input {
        color:white;
        font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border:2px solid #CC6666;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width:100%;
        box-sizing: border-box;
        outline:0;
    }
    
    .free-estimate-box{
        .feedback-input {
            color:white;
            background-color: transparent;
            font-weight:500;
            font-size: 18px;
            border-radius: 10px;
            transition: all 0.3s;
            padding: 13px;
            margin-bottom: 15px;
            width:100%;
            box-sizing: border-box;
            outline:0;
        }
          
        .feedback-input:focus { border:2px solid #CC4949; }
          
        textarea {
            height: 150px;
            line-height: 150%;
            resize:vertical;
        }
          
        [type="submit"] {
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            width: 100%;
            background:#CC6666;
            border-radius:5px;
            border:0;
            cursor:pointer;
            color:white;
            font-size:24px;
            padding-top: 5%;
            padding-bottom:10px;
            transition: all 0.3s;
            margin-top:-4px;
            font-weight:700;
        }
        [type="submit"]:hover { background:#CC4949; }
        display: flex;
        flex-direction: column;
        width: 534.742px;
        height: 421.057px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #830909;

        .estimate-title{
            color: #FFF;
            font-family: "Roboto", sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.1px;
            text-align: center;
        }


        // .feedback-input {
        //     border-radius: 10px;
        //     background: #AC0B0B;
        //     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        //     border: none;
        //     display: inline-block;
        // }
        
        img {
            position: absolute;
            width: 30px;
            height:30px;
        }

        .message{
            width: 464.004px;
            height: 138.949px;
            flex-shrink: 0;
            resize: none;
        }

        textarea:focus, input:focus{
            outline: none;
        }

        ::placeholder{
            color: #D34F4F;
            font-family: "Outfit";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
            text-align: left;
        }
    }

}

footer{
    display: grid;
    background-color: $main-red;

    div{
        display: flex;
        padding-bottom: 2%;
    }

    p {
        color:#FFF;
        font-family: "EB Garamond";
        font-size: 1.5em;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.5px;
    }
    
    // .license1{
    //     padding-left: 10%;
    // }

    // .license2 {
    //     padding-right: 10%;
    // }

    // small{
    //     color: #FFF;
    //     font-family: "EB Garamond";
    //     font-size: 1.5em;
    //     font-style: normal;
    //     font-weight: 700;
    //     line-height: normal;
    //     letter-spacing: 1.5px;
    //     margin: 0;
    //     text-align: center;
    // }

    // div{
    //     display: grid;
    //     padding-bottom: 2%;
    // }

    img {
        width: 5%;
    }
}