* {
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* From Uiverse.io by cssbuttons-io */
button {
  font-family: "Roboto", sans-serif;
  padding: 1.4em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: #fff;
  background-color: #CD3200;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

nav {
  width: 120%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: rgba(255, 255, 255, 0.682);
  padding-top: 1%;
  padding-bottom: 1%;
}
nav .navbar-logo {
  margin: 0 !important;
}
nav img {
  width: 20%;
  padding-left: 15%;
}
nav .nav-links {
  display: grid;
  text-align: right;
  width: 105%;
}
nav .nav-links ul {
  padding-inline-start: 0%;
}
nav .nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
nav .nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #CD3200;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav .nav-links ul a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.home-section {
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}
.home-section .home {
  display: flex;
  overflow: hidden;
  grid-template-columns: fit-content(300px) fit-content(1000px);
  justify-content: center;
}
.home-section .home-logo {
  width: 25vw;
}
.home-section .home-text {
  display: grid;
}
.home-section .home-title {
  display: grid;
  color: #000;
  font-family: "EB Garamond";
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -6.8px;
}
.home-section #home-subtitle-1 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 140.351% */
}
.home-section #home-subtitle-2 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
  padding-bottom: 30px;
}

.about-section {
  padding-top: 10%;
  padding-bottom: 15%;
}
.about-section img {
  width: 50%;
  margin: 0;
}
.about-section .about {
  display: flex;
  width: 100%;
}
.about-section .about .about-text {
  display: flex;
  width: 65%;
  display: grid;
  justify-content: center;
}
.about-section .about .about-header {
  color: #CD3200;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}
.about-section .about #about-subtitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-section .about #about-desc {
  padding-top: 5%;
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.about-section .about .about-li {
  width: 60%;
}
.about-section .about .about-li .about-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
}
.about-section .about .about-li li.detail {
  padding-left: 10%;
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  letter-spacing: 1.1px;
  position: relative;
  padding-bottom: 10%;
}
.about-section .about .about-li li.detail:before {
  content: "";
  display: inline-block;
  width: 30px; /* Adjust size */
  height: 30px; /* Adjust size */
  background-image: url("assets/yellow-check.svg"); /* Path to your SVG file */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 10%;
}

.services-section {
  padding-top: 10%;
  padding-bottom: 10%;
}
.services-section .services {
  display: grid;
  justify-content: center;
}
.services-section .services .services-header {
  color: #CD3200;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}
.services-section .services .services-subtitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 50px;
}
.services-section .services .services-cards {
  padding-bottom: 50px;
}

.gallery-section {
  padding-top: 10%;
  padding-bottom: 10%;
}
.gallery-section .gallery {
  display: grid;
  grid-template-rows: fit-content(300px) fit-content(1000px);
  justify-content: center;
  margin: auto;
  justify-content: center;
  background-image: url("/assets/slanted-rectangle.svg");
  background-size: cover;
  width: 100vw; /* Full viewport width */
  height: 200vh; /* Full viewport height */
}
.gallery-section .gallery .gallery-header {
  color: #CD3200;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}
.gallery-section .gallery .gallery-subtitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 50px;
}
.gallery-section .gallery .gallery-images {
  padding-bottom: 50px;
}
.gallery-section .gallery .gallery-images img {
  margin: 20px;
  border-radius: 20px;
}

.testimonials-section {
  padding-top: 10%;
  padding-bottom: 20%;
}
.testimonials-section .testimonials {
  justify-content: center;
  text-align: center;
  display: grid;
}
.testimonials-section .testimonials .testimonials-header {
  color: #CD3200;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}
.testimonials-section .testimonials .testimonials-subtitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.testimonials-section .testimonials .review-cards {
  padding-top: 5%;
}

.contact {
  background-color: #CD3200;
  display: flex;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 20%;
  grid-template-columns: fit-content(300px) fit-content(1000px);
}
.contact .contact-info {
  grid-template-rows: fit-content(300px) fit-content(1000px);
}
.contact .contact-header {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.5px;
  text-align: right;
  padding-bottom: 6%;
}
.contact .contact-text {
  color: white;
}
.contact .contact-text ul {
  list-style-type: none;
  padding-left: 0;
}
.contact .contact-text li {
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.1px;
}
.contact .contact-text li.contact-email {
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  letter-spacing: 1.1px;
  position: relative;
}
.contact .contact-text li.contact-email:before {
  content: "";
  display: inline-block;
  width: 30px; /* Adjust size */
  height: 30px; /* Adjust size */
  background-image: url("/assets/white-email-icon.svg"); /* Path to your SVG file */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact .contact-text li.contact-location {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  position: relative;
}
.contact .contact-text li.contact-location:before {
  content: "";
  display: inline-block;
  width: 30px; /* Adjust size */
  height: 30px; /* Adjust size */
  background-image: url("/assets/location-icon.svg"); /* Path to your SVG file */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact .contact-text li.contact-phone {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}
.contact .contact-text li.contact-phone:before {
  content: "";
  display: inline-block;
  width: 30px; /* Adjust size */
  height: 30px; /* Adjust size */
  background-image: url("/assets/white-phone-icon.svg"); /* Path to your SVG file */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact .contact-text li.list-detail {
  padding-bottom: 6%;
}
.contact #input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.contact .free-estimate-box {
  display: flex;
  flex-direction: column;
  width: 534.742px;
  height: 421.057px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #830909;
}
.contact .free-estimate-box .feedback-input {
  color: white;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.contact .free-estimate-box .feedback-input:focus {
  border: 2px solid #CC4949;
}
.contact .free-estimate-box textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.contact .free-estimate-box [type=submit] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 5%;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
.contact .free-estimate-box [type=submit]:hover {
  background: #CC4949;
}
.contact .free-estimate-box .estimate-title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: center;
}
.contact .free-estimate-box img {
  position: absolute;
  width: 30px;
  height: 30px;
}
.contact .free-estimate-box .message {
  width: 464.004px;
  height: 138.949px;
  flex-shrink: 0;
  resize: none;
}
.contact .free-estimate-box textarea:focus, .contact .free-estimate-box input:focus {
  outline: none;
}
.contact .free-estimate-box ::-moz-placeholder {
  color: #D34F4F;
  font-family: "Outfit";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
}
.contact .free-estimate-box ::placeholder {
  color: #D34F4F;
  font-family: "Outfit";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
}

footer {
  display: grid;
  background-color: #CD3200;
}
footer div {
  display: flex;
  padding-bottom: 2%;
}
footer p {
  color: #FFF;
  font-family: "EB Garamond";
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}
footer img {
  width: 5%;
}/*# sourceMappingURL=styles.css.map */